#benefits_container
  #header 
    %h3 CLARI BENEFITS
  %hr
  #carousel_main_nav
    .container
      / Indicators
      %ol.carousel-indicators
        %li#first-main-tab.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
          .menu_bar.active_menu_bar
            .person_icon
              = image_tag 'sales_rep_icon.png'
            CLARI FOR SALES REP
        %li#second-main-tab{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
          .menu_bar
            .person_icon
              = image_tag 'sales_manager_icon.png'
            CLARI FOR SALES MANAGERS
        %li#third-main-tab{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
          .menu_bar
            .person_icon
              = image_tag 'sales_op_icon.png'
            CLARI FOR SALES OPS

  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Wrapper for slides
    .carousel-inner
      .item.active#slide1
        .container
          .header
            %p Clari delivers all the information sales reps need about their customers right to their fingertips on their mobile device saving them time, shortening sales cycles, and increasing win rates.  And Clari captures deal progress as they sell often automatically instead of forcing them to spend hours at their computer away from selling.
            .first_slide_menu
              %ul
                %li.first_slide_menu_active{"data-value" => "0"}
                  Your Personal Deal Assistant
                %li{"data-value" => "1"} Your CRM Update Acclerator
                %li{"data-value" => "2"} Your Strategic Pipeline Manager
        #first_slide_background 
          .container#first_slide_1.hide_first_slide




            #first_slide_set_1.first_slide_active_class
              .phone_item_container.float-left.first_phone{style: 'margin-right: 4px;'}
                .float-left.phone_number_container
                  %span.number 1
                .float-right.phone_content_container
                  Quickly understand what's planned for today and where to focus your time
                = image_tag 'bg-device-reps-1-1.png'
              .phone_item_container.float-left.second_phone{style: 'margin-right: 4px;'}
                .float-left.phone_number_container
                  %span.number 2
                .float-right.phone_content_container
                  Get deal reminders and prep cards with an at-a-glance view of where business lies.
                = image_tag 'bg-device-reps-1-2.png'
              .phone_item_container.float-left.third_phone
                .float-left.phone_number_container
                  %span.number 3
                .float-right.phone_content_container
                  Stay engaged with your professional relationships and how they relate to your deals
                = image_tag 'bg-device-reps-1-3.png'
              .clear


            #first_slide_set_2.first_slide_active_class
              .phone_item_container.float-left.first_phone{style: 'margin-right: 4px;'}
                .float-left.phone_number_container
                  %span.number 1
                .float-right.phone_content_container
                  Intelligent post-meeting debriefs prompt you to update your opportunity
                = image_tag 'bg-device-reps-2-1.png', class: 'slide-2-image-1'
              .phone_item_container.float-left.second_phone{style: 'margin-right: 4px;'}
                .float-left.phone_number_container
                  %span.number 2
                .float-right.phone_content_container
                  Quickly update your deal status on the go with a few simple taps
                = image_tag 'bg-device-reps-2-2.png', class: 'slide-2-image-2'
              .phone_item_container.float-left.third_phone
                .float-left.phone_number_container
                  %span.number 3
                .float-right.phone_content_container
                  Move your deal through the sales process without logging in to complex CRM systems
                = image_tag 'bg-device-reps-2-3.png', class: 'slide-2-image-3'
              .clear

            #first_slide_set_3.first_slide_active_class
              .phone_item_container.float-left.first_phone{style: 'margin-right: 4px;'}
                .float-left.phone_number_container
                  %span.number 1
                .float-right.phone_content_container
                  Filter and view by different deal stages and levels
                = image_tag 'bg-device-reps-3-1.png'
              .phone_item_container.float-left.second_phone{style: 'margin-right: 4px;'}
                .float-left.phone_number_container
                  %span.number 2
                .float-right.phone_content_container
                  Flexible view of pipeline and forecast allow you to focus on the right deals and the right time
                = image_tag 'bg-device-reps-3-2.png'
              .phone_item_container.float-left.third_phone
                .float-left.phone_number_container
                  %span.number 3
                .float-right.phone_content_container
                  Create, assign, and manage tasks associated with your deals
                = image_tag 'bg-device-reps-3-3.png'
              .clear


      /// SECOND SLIDE ///

      .item#slide2
        .container
          .header{style: 'height: 154px;'}
            %p Clari delivers new levels of visibility into how deals are progressing out in the field allowing sales managers to drive more business and increase the accuracy of their forecast.
            .second_slide_menu
              %ul
                %li.first_slide_menu_active{"data-value" => "0"} Configurable dashboard oriented around key team objectives
                %li{"data-value" => "1"} Full visibility into deal activity across your team 
                %li{"data-value" => "2"} Analytic-driven insights into deal progress and risks
                %li{"data-value" => "3"} Instant access to deal status and milestones
        #second_slide_background 
          .container#first_slide_2.hide_first_slide

            #second_slide_set_1
              .ipad_item_container
                .ipad_image_set_1.slide_two_item_styles
                  = image_tag 'bg-device-managers-1-1.png'
                .ipad_image_set_2.slide_two_item_styles
                  = image_tag 'bg-device-managers-1-2.png'
                .ipad_image_set_3.slide_two_item_styles
                  = image_tag 'bg-device-managers-1-3.png'
                .ipad_image_set_4.slide_two_item_styles
                  = image_tag 'bg-device-managers-1-4.png'

              .clear



      .item#slide3
        .container
          %br
          %br
          .header{style: 'height: 80px;'}
            %p{style: 'position: relative; top: -35px;'} Clari applies data science across various measurable information stores that sales teams use every day (e.g. CRM, mail, calendar, support) — surfacing predictive insights for reps, managers and execs that enables a new level of sales management, execution & forecasting.
        #third_slide_background
          .container#first_slide_3.hide_first_slide

            #second_slide_set_1
              .description_number_parent
                .description_number_container.float-left
                  .float-left.phone_number_container
                    %span.number 1
                  .float-right.phone_content_container
                    Customize Clari for your business, sales process, and CRM requirements

                .description_number_container.float-left
                  .float-left.phone_number_container
                    %span.number 2
                  .float-right.phone_content_container
                    Build Custom Clari Accelerators to maximize data capture

                .description_number_container.float-left
                  .float-left.phone_number_container
                    %span.number 3
                  .float-right.phone_content_container
                    Instantly publish changes to all Clari users in your organizations
                .clear
              %br
              %br
              .ipad_item_container
                = image_tag 'bg-device-ops-1-1.png'
              .clear